/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lobster-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lobster-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lobster-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lobster-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lobster-v23-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

a {
  color: #f3cc17
}

p {
  font-size: 20px;
  /* line-height: 9px; */
  overflow-wrap: anywhere;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
}